div.menu
  ul.menu__list(title='Меню не переключает вкладки :(', role='menu')
    li.menu__item
      a.menu__link(href='#') кратко
    li.menu__item
      a.menu__link(href='#') подробно
    li.menu__item
      a.menu__link(href='#') наглядно
    li.menu__item.menu__item-active
      a.menu__link(href='#') на карте
