div.footer
  ul.footer__list.footer__list-short
    li.footer__item
      a.footer__link(href='#') Пользовательское соглашение
    li.footer__item
      a.footer__link(href='#') Мобильная версия
  ul.footer__list.footer__list-long
    li.footer__item
      | Прогноз погоды: Екатеринбург и еще 12268 городов в 229 странах
    li.footer__item
      | Данные предоставлены
      a.footer__link(href='#') FORECA
  ul.footer__list.footer__list-short
    li.footer__item
      a.footer__link(href='#') Статистика
    li.footer__item
      a.footer__link(href='#') Обратная связь
    li.footer__item
      a.footer__link(href='#') Реклама
  ul.footer__list.footer__list-short
    li.footer__item
      | © 2000—2014 «
      a.footer__link(href='#') Яндекс
      | »
